.widget_nav_menu,
.widget_meta,
.widget_pages,
.widget_archive,
.widget_categories,
.wp-block-page-list,
.wp-block-archives,
.product-categories,
.wp-block-categories {
   ul {
      list-style: none;
      padding: 0;
      margin: 0 0 0 0;
   }

   a {
      display: block;
      margin: 0 0 15px;
      padding: 0;
      font-size: 16px;
      line-height: 1.313;
      color: $light-color;
      transition: 0.4s all ease;
      border-radius: 48px;
      background: $white-color;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 18px 25px;
      font-weight: 500;

      i {
         font-size: 16px;
         margin-right: 10px;
         position: relative;
         top: 0px;
      }

      svg {
         fill: $black-color2;
         transition: all ease 0.4s;
      }
   }

   li {
      display: block;
      position: relative;
      margin-bottom: 15px;
      li:has(.category-number) {
         a:after {
            display: none;
         }
      }

      >span {
         color: $title-color;
         text-align: center;
         position: absolute;
         right: 23px;
         top: 16px;
         transition: all ease 0.4s;
         pointer-events: none;
         min-width: 20px;
         text-align: right;
      }



   }

   .menu,
   >ul {

      >li {
         &:last-child {
            border-bottom: 0;
            margin-bottom: 0;

            >a {
               margin-bottom: 0;
               border-bottom: 0;
            }
         }
      }
   }

   a {
      &:hover {
         color: $white-color;
         background: $theme-color;

         ~span {
            color: $white-color;
         }

         svg {
            fill: $white-color;
         }
      }
   }

   .sub-menu,
   .children {
      margin-left: 10px;
   }
}

.widget_categories {
   li:has(.category-number) {
      a:after {
         display: none;
      }
   }

   a {

      &::after {
         content: '';
         position: relative;
         background-image: url(../img/icon/arrow-right.svg);
         background-size: 100% 100%;
         width: 16px;
         height: 16px;
         -webkit-transition: 0.4s;
         transition: 0.4s;
         left: 0px;
      }

      &:hover {
         &::after {
            background-image: url(../img/icon/arrow-right-white.svg);
         }
      }
   }
}
.product-categories,
.wp-block-archives,
.wp-block-page-list,
.wp-block-categories {
   list-style: none;
   padding: 0;
   margin: 0;

   >li {
      &:last-child {
         margin-bottom: 0;

         >a {
            border-bottom: none;
            // padding-bottom: 0;
            margin-bottom: 0;
         }
      }
   }
}

.widget_nav_menu,
.widget_meta,
.widget_pages {
   a {
      padding-right: 20px;
   }
}

.widget_nav_menu {
   .sub-menu {
      // margin-left: 10px;
   }
}

.wp-block-archives {
   list-style: none;
   margin: 0;
   padding: 0;

   a:not(:hover) {
      color: inherit;
   }
}

.th-blog ul.wp-block-archives li {
   margin: 5px 0;
}