.breadcumb-menu {
   max-width: 100%;
   padding: 0;
   margin: 22px 0 -0.4em 0;
   list-style-type: none;
   position: relative;

   li {
      display: inline-block;
      padding-right: 3px;
      list-style: none;
      position: relative;

      &:after {
         content: "/";
         position: relative;
         margin-left: 10px;
         font-weight: 500;
         top: 2px;
         font-size: 18px;
         color: $white-color;
         font-family: $icon-font;
      }

      &:last-child {
         padding-right: 0;
         margin-right: 0;
         color: $theme-color2;

         &:after {
            display: none;
         }
      }
   }

   li,
   a,
   span {
      white-space: normal;
      word-break: break-word;
      font-weight: 500;
      font-size: 16px;
      font-family: $title-font;
      color: $white-color;
   }

   a:hover {
      color: $theme-color;
   }
}

.breadcumb-title {
   margin: -0.28em 0 -0.28em 0;
   font-size: 48px;
   line-height: 1.285;
   letter-spacing: 0.02em;
   color: $white-color;
}

body:has(.th-header.header-default) .breadcumb-wrapper .breadcumb-content {
   padding: calc(var(--space) + 100px) 0 var(--space);
}

body .th-header.header-default:has(.header-top)~.breadcumb-wrapper .breadcumb-content {
   padding: calc(var(--space) + 90px) 0 var(--space);
}
.breadcumb-wrapper {
   background-color: $title-color;
   overflow: hidden;
   position: relative;
   z-index: 1;
   max-width: 1840px;
   margin: 0 auto;
   margin-top: 69px;
   border-radius: 40px;
   @include md {
      border-radius: 0 0 30px 30px;
      mask-image: none !important;
   }
   &.th-breadcumb {
      @media (max-width:991px) {
         background: #646464 !important;
      }
   }
   &.unittest-breadcrumb {
      margin-top: 0;
      .breadcumb-content {
         padding: var(--space) 0 !important;
      }
   }
   &:after {
      content: '';
      position: absolute;
      inset: 0;
      background: $theme-color;
      mix-blend-mode: hue;
   }

   .breadcumb-content {
      --space: 155px;
      padding: var(--space) 0;
      position: relative;
      z-index: 1;
   }
}

@include lg {
   .breadcumb-wrapper {
      .breadcumb-content {
         --space: 120px;
      }
   }

   .breadcumb-menu {

      li,
      a,
      span {
         font-size: 16px;
      }
   }

   .breadcumb-title {
      font-size: 48px;
   }
}

@include md {
   .breadcumb-title {
      font-size: 46px;
   }
}

@include sm {
   .breadcumb-title {
      font-size: 40px;
   }
}

@include xs {
   .breadcumb-title {
      font-size: 34px;
   }

   .breadcumb-wrapper .breadcumb-content {
      --space: 100px;
   }
}