/* Blockquote ---------------------*/
blockquote,
.wp-block-quote {
   font-size: 20px;
   line-height: 1.777;
   padding: 48px 44px 48px 150px;
   font-weight: 500;
   display: block;
   position: relative;
   background-color: transparent;
   margin: 45px 0 50px 0;
   color: $black-color2;
   font-family: $title-font;
   border-left: 1px solid $theme-color !important;
   border-radius: 0px 24px 24px 0px;
   background: $gray-color;

   .quote {
      position: absolute;
      left: 40px;
      top: 40px;

      @include lg {
         position: unset;
      }
   }

   p {
      font-size: inherit;
      font-family: inherit;
      margin-top: -0.3em;
      margin-bottom: 9px;
      line-height: inherit;
      color: inherit;
      width: 100%;
      position: relative;
      z-index: 3;

      a {
         color: inherit;
      }
   }





   cite {
      display: inline-block;
      font-size: 20px;
      line-height: 1;
      font-weight: 500;
      font-style: normal;
      font-family: $title-font;
      white-space: nowrap;
      // background-color: $theme-color;
      color: $theme-color;
      padding-left: 40px;
      position: relative;

      // padding: 7px 45px 7px 20px;
      // clip-path: polygon(0 0, 100% 0, calc(100% - 25px) 100%, 0% 100%);
      &:before {
         content: "";
         position: absolute;
         top: 50%;
         left: 0;
         height: 1px;
         width: 30px;
         background-color: $theme-color;
         transform: translateY(-50%);
      }

      br {
         display: none;
      }
   }

   &.is-large:not(.is-style-plain),
   &.is-style-large:not(.is-style-plain),
   &.style-left-icon,
   &.has-text-align-right {
      padding: 40px;
      margin-bottom: 30px;
   }

   &.style-left-icon {
      font-size: 18px;
      color: $body-color;
      font-weight: 400;
      line-height: 1.556;
      background-color: $smoke-color;
      padding-left: 160px;

      &:before {
         right: unset;
         left: 56px;
         top: 60px;
         font-size: 6rem;
         font-weight: 400;
         line-height: 4rem;
         color: $theme-color;
         text-shadow: none;
      }

      cite {
         color: $title-color;

         &:before {
            background-color: $title-color;
            top: 8px;
         }
      }
   }

   &:not(:has(> cite)) {
      p:last-child {
         margin-bottom: -0.3em;
      }
   }

   p {
      &:has(cite) {
         padding-bottom: 10px;
      }

      cite {
         margin-top: 20px;
         margin-bottom: -0.5em;
         bottom: -32px;
      }
   }
}

.wp-block-pullquote {
   color: $white-color;
   padding: 0;
}

blockquote.has-very-dark-gray-color {
   color: $title-color !important;
}

.wp-block-pullquote blockquote,
.wp-block-pullquote p {
   color: $title-color;
}

.wp-block-pullquote cite {
   position: absolute;
   color: $theme-color !important;
}

.wp-block-column {

   blockquote,
   .wp-block-quote {
      &:before {
         width: 100%;
         height: 60px;
         font-size: 30px;
      }

      padding: 40px 15px 40px 15px;

      &.style-left-icon,
      &.is-large:not(.is-style-plain),
      &.is-style-large:not(.is-style-plain),
      &.has-text-align-right {
         padding: 40px 15px 40px 15px;
      }

      cite {
         font-size: 14px;
         left: 20px;

         &:before {
            bottom: 6px;
         }
      }
   }
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
   &::before {
      bottom: 7px;
   }
}

.has-cyan-bluish-gray-background-color {

   blockquote,
   .wp-block-quote {
      background-color: $white-color;
   }
}

@include lg {

   blockquote,
   .wp-block-quote {
      padding: 22px 30px;
   }
}

@include sm {
   .wp-block-pullquote.is-style-solid-color blockquote {
      max-width: 90%;
   }

   blockquote,
   .wp-block-quote {
      cite {
         font-size: 18px;
      }
   }
}

@include xs {

   .wp-block-quote.is-large:not(.is-style-plain) p,
   .wp-block-quote.is-style-large:not(.is-style-plain) p {
      font-size: 1.2em;
   }
}

@include vxs {

   blockquote,
   .wp-block-quote {
      cite {
         font-size: 18px;
         padding-left: 22px;

         &:before {
            width: 20px;
         }
      }
   }
}

.blog-meta {
   display: flex;
   flex-wrap: wrap;

   span,
   a {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      color: $black-color3;
      font-family: $body-font;
      position: relative;
      margin-right: 20px;

      i {
         margin-right: 8px;
         color: $theme-color;
      }

      &:last-child {
         margin-right: 0;
         padding-right: 0;

         &:after {
            display: none;
         }
      }
   }

   .border1 {
      border-radius: 20px;
      border: 1px solid #D4D4D4;
      padding: 0px 8px;
      display: block;
   }

   .author {
      img {
         border-radius: 50%;
         width: 24px;
         height: 24px;
         margin-right: 8px;
         background: $title-color;
         border: 1px solid $body-color;
      }
   }

   a:hover {
      color: $theme-color;
   }
}

.blog-audio,
.blog-img,
.blog-video {
   img {
      transition: 0.4s ease-in-out;
   }
}


.blog-radius-img {
   border-radius: 24px;
   overflow: hidden;
}

.blog-title {
   a {
      color: inherit;

      &:hover {
         color: $theme-color;
      }
   }
}

.th-blog {
   margin-bottom: 30px;

   &.has-post-thumbnail {
      position: relative;

      .blog-date {
         border-radius: 10px;
         background: $white-color;
         position: absolute;
         left: 24px;
         top: 24px;
         padding: 15px 16px;

         h3 {
            color: $black-color;
            font-size: 24px;
            margin-bottom: 0;
         }

         span {
            color: $black-color3;
            font-size: 14px;
            line-height: 20px;
            display: block;
            font-weight: 400;
         }
      }
   }

}


.blog-inner-title {
   margin-top: -0.25em;
   margin-bottom: 32px;
   font-weight: 700;
   font-size: 30px;

   i {
      color: $theme-color;
      margin-right: 6px;
   }

   @include xs {
      font-size: 24px;
   }
}

.blog-single {
   position: relative;
   margin-bottom: var(--blog-space-y, 60px);
   // background-color: $white-color;
   overflow: hidden;

   .blog-date {
      border-radius: 10px;
      background: $white-color;
      position: unset;
      padding: 15px 16px;
      display: inline-block;
      max-width: 60px;
      margin-bottom: 34px;

      h3 {
         color: $black-color;
         font-size: 24px;
         margin-bottom: 0;
      }

      span {
         color: $black-color3;
         font-size: 14px;
         line-height: 20px;
         display: block;
         font-weight: 400;
      }
   }

   .blog-title {
      margin-bottom: 20px;
      font-size: 32px;
      line-height: 1.277;
      font-weight: 700;
      color: $black-color2;

      @include lg {
         font-size: 30px;
      }
   }

   .blog-text {
      margin-bottom: 23px;
      color: $black-color3;
   }

   .social-links {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: inline-block;

      li {
         display: inline-block;
         margin-right: 3px;

         &:last-child {
            margin-right: 0;
         }
      }

      a {
         display: inline-block;
         @include equal-size(40px);
         line-height: 40px;
         background-color: $smoke-color;
         font-size: 14px;
         color: $title-color;
         text-align: center;
         border-radius: 5px;

         &:hover {
            color: $white-color;
            background-color: $theme-color;
         }
      }
   }

   .blog-meta {
      margin-bottom: 10px;
   }

   .blog-content {
      margin: 0px 0 0 0;
      position: relative;
      padding: 40px;
      background: $smoke-color;
      border-radius: 24px;

      @include xs {
         padding: 30px;
         border-radius: 20px;
      }
   }

   .blog-audio {
      line-height: 1;
   }

   .blog-audio,
   .blog-img,
   .blog-video {
      position: relative;
      overflow: hidden;
      background-color: $smoke-color;
      border-radius: 24px;
      margin-bottom: 30px;

      @include xs {
         border-radius: 20px;
      }
   }

   &:has(.blog-audio,
      .blog-img,
      .blog-video) {
      .blog-content {
         padding: 0;
         background: transparent;
         border-radius: 0;
      }
   }

   .blog-img {
      .slick-arrow {
         --pos-x: 30px;
         --icon-size: 45px;
         border: none;
         background-color: $white-color;
         color: $theme-color;
         box-shadow: none;

         &:hover {
            background-color: $theme-color;
            color: $white-color;
         }
      }

      .play-btn {
         --icon-size: 60px;
         position: absolute;
         left: 50%;
         top: 50%;
         margin: calc(var(--icon-size) / -2) 0 0 calc(var(--icon-size) / -2);
      }
   }

   .line-btn {
      display: block;
      max-width: fit-content;
      margin-bottom: -1px;
   }

   .th-slider {
      .slider-arrow {
         --pos-x: 20px;
      }
   }

   &:hover {
      .blog-img {
         .slick-arrow {
            opacity: 1;
            visibility: visible;
         }
      }
   }
}

.blog-details {
   .blog-single {
      margin-bottom: 60px;
   }
}

.share-links-title {
   font-size: 20px;
   color: $black-color2;
   font-family: $title-font;
   font-weight: 500;
   margin: 0 13px 0 0;
   display: inline-block;
}

.share-links {
   margin: 30px 0 0 0;
   border-top: 1px solid $border-color;
   padding: 40px 0;
   padding-bottom: 0;

   >.row {
      align-items: center;
      --bs-gutter-y: 20px;
   }

   .wp-block-tag-cloud,
   .tagcloud {
      gap: 10px;
      display: inline-flex;

      a {
         background: transparent;
         box-shadow: none;
         border: 1px solid $border-color;
         padding: 10px 16px;
         font-size: 14px;
         font-weight: 500;
         font-family: $title-font;
         color: $black-color3;

         &:hover {
            background: $theme-color;
         }
      }
   }

   .th-social {
      display: inline-flex;
   }
}

.blog-author {
   background: $smoke-color;
   margin: 60px 0;
   padding: 40px;
   display: flex;
   gap: 30px;
   border-radius: 24px;

   .author-img {
      border-radius: 50%;
      flex: none;
      background: $smoke-color;
      align-self: self-start;
      display: inline-block;

      img {
         width: 160px;
         height: 160px;
         object-fit: cover;
         border-radius: 50%;
      }
   }

   .media {
      display: flex;
      margin-bottom: 0px;
      align-self: center;

      .media-body {
         .th-social {
            display: inline-flex;
         }
      }
   }

   .author-name {
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 10px;

      a {
         color: $title-color;

         &:hover {
            color: $theme-color;
         }
      }
   }

   .author-desig {
      color: $theme-color;
      font-size: 14px;
      font-weight: 500;
   }

   .author-text {
      margin-bottom: -0.3em;
      font-size: 16px;
   }
}

@include ml {
   .share-links {
      --blog-space-x: 20px;
   }
}

@include lg {
   .blog-author {
      display: block;
      --blog-space-y: 40px;
      --blog-space-x: 30px;

      .author-img {
         margin-bottom: 25px;
      }
   }
}

@include md {

   .blog-author,
   .share-links {
      --blog-space-x: 40px;
   }
}

@include sm {

   .blog-author,
   .share-links {
      --blog-space-x: 20px;
   }

   .blog-inner-title {
      margin-bottom: 22px;
   }

   .blog-details .blog-single {
      --blog-space-x: 20px;
      --blog-space-y: 20px;
   }

   .blog-single {

      .blog-title {
         font-size: 24px;
         line-height: 1.3;
      }

      .blog-text {
         margin-bottom: 22px;
      }

      .blog-bottom {
         padding-top: 15px;
      }

      .blog-meta {

         span,
         a {
            padding-right: 3px;

            &:after {
               display: none;
            }
         }
      }

      .share-links-title {
         font-size: 18px;
         margin: 0 0 10px 0;
      }
   }
}

@include xs {

   blockquote,
   .wp-block-quote {
      padding: 20px 20px 30px;

      &:before {
         right: 30px;
      }
   }

   .blog-author {
      padding: 20px;
   }
}



.post-pagination {
   border-top: 1px solid $border-color;
   border-bottom: 1px solid $border-color;
   padding: 30px 0;
}

.post-pagi-box {
   display: flex;
   align-items: center;
   gap: 20px;


   .pagi-box {
      display: flex;
      align-items: center;
      gap: 16px;
      width: calc(100% - 75px);

      @include vxs {
         width: 100%;
      }

      .image {
         width: 80px;
         height: 80px;

         @include vxs {
            display: none;
         }

         img {
            width: 100%;
            border-radius: 14px;
         }
      }



      .pagi-box-content {
         width: calc(100% - 80px);

         @include vxs {
            width: 100%;
         }

         a {
            display: block;
            color: $black-color2;
            font-family: $title-font;
            font-size: 18px;
            font-weight: 500;
            text-transform: capitalize;
            margin-bottom: 5px;
         }

         span {
            color: $black-color3;
            font-size: 14px;
            font-weight: 400;

            i {
               color: $theme-color;
               margin-right: 10px;
            }
         }
      }
   }

   .arrow {
      &.left {
         transform: rotate(180deg);
      }
   }


   .icon {
      width: 56px;
      height: 56px;
      border-radius: 28px;
      background: $white-color;
      box-shadow: 0px 4px 50px 0px rgba(7, 11, 49, 0.10);
      transition: all .3s ease-in-out;
      display: flex;
      align-items: center;
      justify-content: center;
flex: none
      img {
         filter: brightness(0) invert(0);
         transition: filter 0.3s ease;
      }

      &:hover {
         background: $theme-color;

         img {
            filter: brightness(0) invert(1);
         }
      }
   }

   &.next {
      .pagi-box {
         flex-direction: row-reverse;

      }
   }
}

.pagi-icon {
   font-size: 20px;
   color: $theme-color;

   @include md {
      display: none;
   }
}