/* Booking Area ---------------------------------- */


.booking-wrap {
    padding-bottom: 50px;
    position: relative;
    z-index: 11;

    @include md {
        background: $white-color;
        border-radius: 16px;
        padding: 24px 30px;
        padding-top: 0;
        margin-bottom: 80px;
    }
     @include vxs {
        padding: 24px 20px;
        padding-top: 0;
    }

    .booking-bg-shape1-1 {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;

        @include md {
            display: none;
        }

        img {
            width: 100%;
            height: 100%;
        }

    }

    .box-title {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        text-transform: capitalize;
        margin: 0;
        padding-bottom: 24px;
    }



    .booking-form-v1 {
        max-width: 894px;
    }

    .form-group-wrap {
        display: flex;
        align-items: center;
        gap: 24px;

        @include md {
            flex-wrap: wrap;
            justify-content: center;
        }

        .form-group {
            width: 100%;
        }
    }

    .form-group.style3 select {
            padding: 0 16px 0;
    }


}

.booking-1 {

    .circle-tag {
        border: 0;
        width: 220px;
        height: 220px;
        position: absolute;
        left: -100px;
        top: -100px;
    }

    .circle-title-anime {
        color: $title-color;
        font-weight: 300;
        text-transform: uppercase;
        width: 220px;
        height: 220px;
        top: 51%;
        left: 51%;

        span {
            --rotate-letter: 6.2deg;
            ;
            height: 120px;
            position: absolute;
            width: 21px;
            left: 44.5%;
            top: -6px;
        }
    }



    .icon {
        background: $white-color;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 128px;
        height: 128px;
        border: 1px solid $title-color;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}