/* Faq 1 ---------------------------------- */
.faq-section {

   .title-area {
      @include ml {
         text-align: center;
      }

      .sec-text2 {
         @include ml {
            margin: 0 auto;
         }
      }
   }

   .sec-title {
      br {
         @include ml {
            display: none;
         }
      }

   }
}

.faq-wrap {
   .sec-title {
      padding-bottom: 40px;

      @include ml {
         padding-bottom: 20px;
      }
   }

   .sec-text2 {
      max-width: 335px;
      margin: 0;
   }

   .btn-group {
      margin-top: 55px;

      @include ml {
         margin-top: 30px;
      }
   }
}

.accordion-card {
   transition: 0.4s ease-in-out;
   border-radius: 16px;
   overflow: hidden;
   background-color: $white-color;
   text-align: left;
   position: relative;
   z-index: 3;
   padding-bottom: 12px;

   &:not(:last-child) {
      margin-bottom: 24px;
   }

   .accordion-button {
      font-size: 20px;
      font-weight: 500;
      font-family: $title-font;
      border: 0;
      color: $black-color6;
      background-color: transparent;
      border-radius: 0;
      padding: 23px 55px 12px 65px;
      gap: 10px;
      margin-bottom: 0;
      text-align: left;
      transition: 0.3s;
      position: relative;

      &::before {
         content: "";
         display: inline-block;
         width: 22px;
         height: 24px;
         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='24' viewBox='0 0 22 24' fill='none'%3E%3Cpath d='M15.5992 1.2002H5.99962C4.72654 1.2002 3.5056 1.70592 2.6054 2.60613C1.70519 3.50633 1.19946 4.72727 1.19946 6.00035V22.7998L2.69128 21.308C4.04144 19.9582 5.87243 19.1999 7.78159 19.1999H15.5992C16.2296 19.1999 16.8538 19.0757 17.4361 18.8345C18.0185 18.5933 18.5477 18.2397 18.9934 17.7939C19.4392 17.3482 19.7927 16.819 20.034 16.2367C20.2752 15.6543 20.3994 15.0301 20.3994 14.3997V6.00035C20.3994 4.72727 19.8936 3.50633 18.9934 2.60613C18.0932 1.70592 16.8723 1.2002 15.5992 1.2002Z' fill='white'/%3E%3Cpath d='M19.9674 16.3681C19.5902 17.2114 18.9771 17.9275 18.2021 18.4301C17.427 18.9327 16.523 19.2003 15.5992 19.2005H7.78591C5.87372 19.2006 4.03986 19.9602 2.68768 21.3122L1.19946 22.8004V6.00026C1.1997 5.07666 1.46718 4.17286 1.96964 3.3979C2.4721 2.62294 3.18807 2.00992 4.03117 1.63281C3.7474 2.25004 3.60006 2.9212 3.59918 3.60054V16.335C3.59897 16.5252 3.64401 16.7128 3.73059 16.8822C3.81717 17.0516 3.94281 17.198 4.09713 17.3093C4.25145 17.4205 4.43002 17.4935 4.61811 17.5221C4.80619 17.5508 4.99839 17.5343 5.17883 17.474C6.51716 17.0275 7.91872 16.7997 9.32956 16.7993H17.9989C18.6786 16.7993 19.3496 16.6525 19.9674 16.3681Z' fill='white'/%3E%3Cpath d='M10.7999 3.59961C9.84513 3.59961 8.92947 3.97889 8.25435 4.65401C7.57923 5.32913 7.19995 6.24478 7.19995 7.19955C7.19995 7.51777 7.32636 7.82296 7.55138 8.04797C7.7764 8.27299 8.08159 8.39941 8.39981 8.39941C8.71803 8.39941 9.02322 8.27299 9.24824 8.04797C9.47325 7.82296 9.59967 7.51777 9.59967 7.19955C9.59993 6.99445 9.65275 6.79284 9.75308 6.61396C9.85341 6.43508 9.9979 6.28489 10.1728 6.17773C10.3477 6.07056 10.5471 6.01 10.752 6.00182C10.9569 5.99364 11.1605 6.03811 11.3434 6.13099C11.5263 6.22386 11.6823 6.36205 11.7966 6.53237C11.9108 6.70268 11.9795 6.89944 11.9962 7.10386C12.0128 7.30828 11.9767 7.51355 11.8915 7.70008C11.8062 7.88661 11.6745 8.04818 11.5091 8.16937C10.9353 8.56209 10.4629 9.08548 10.131 9.69645C9.79902 10.3074 9.61692 10.9885 9.59967 11.6836V11.9997C9.59967 12.318 9.72612 12.6233 9.9512 12.8484C10.1763 13.0735 10.4816 13.1999 10.7999 13.1999C11.1182 13.1999 11.4235 13.0735 11.6486 12.8484C11.8737 12.6233 12.0001 12.318 12.0001 11.9997V11.6836C12.0219 11.3664 12.117 11.0586 12.2779 10.7844C12.4389 10.5102 12.6612 10.277 12.9275 10.1033C13.5396 9.65465 13.9943 9.02404 14.2267 8.30154C14.459 7.57903 14.457 6.80158 14.221 6.08025C13.9851 5.35893 13.5272 4.73063 12.9128 4.28512C12.2983 3.83961 11.5588 3.59968 10.7999 3.59961ZM10.7999 16.7999C10.9599 16.8038 11.1191 16.7756 11.2681 16.7171C11.4171 16.6586 11.5529 16.5708 11.6675 16.459C11.7821 16.3472 11.8731 16.2136 11.9353 16.0661C11.9975 15.9186 12.0295 15.7601 12.0295 15.6C12.0295 15.4399 11.9975 15.2814 11.9353 15.1339C11.8731 14.9864 11.7821 14.8528 11.6675 14.741C11.5529 14.6292 11.4171 14.5414 11.2681 14.4829C11.1191 14.4244 10.9599 14.3962 10.7999 14.4001C10.4868 14.4078 10.189 14.5376 9.97027 14.7618C9.75151 14.986 9.62906 15.2868 9.62906 15.6C9.62906 15.9132 9.75151 16.214 9.97027 16.4382C10.189 16.6624 10.4868 16.7922 10.7999 16.7999Z' fill='%23FDB52A'/%3E%3Cpath d='M15.6 0H5.99965C4.40903 0.0019054 2.8841 0.634622 1.75936 1.75936C0.634622 2.8841 0.00190558 4.40903 1.83472e-07 5.99965V22.7998C-0.000131079 23.0372 0.0701728 23.2693 0.202012 23.4667C0.33385 23.6641 0.521295 23.8179 0.740616 23.9088C0.959937 23.9996 1.20127 24.0233 1.43407 23.9768C1.66686 23.9304 1.88065 23.816 2.04836 23.648L3.53874 22.1576C4.09458 21.5986 4.75578 21.1553 5.48407 20.8535C6.21236 20.5517 6.99328 20.3974 7.78162 20.3994H15.6C17.1906 20.3975 18.7155 19.7648 19.8403 18.64C20.965 17.5153 21.5977 15.9904 21.5996 14.3997V5.99965C21.5977 4.40903 20.965 2.8841 19.8403 1.75936C18.7155 0.634622 17.1906 0.0019054 15.6 0ZM19.1999 14.3997C19.1999 15.3545 18.8206 16.2702 18.1455 16.9453C17.4704 17.6204 16.5547 17.9997 15.6 17.9997H7.78162C5.81384 17.9945 3.90757 18.6851 2.39972 19.9494V5.99965C2.39972 5.04489 2.779 4.12923 3.45412 3.45411C4.12923 2.779 5.04489 2.39972 5.99965 2.39972H15.6C16.5547 2.39972 17.4704 2.779 18.1455 3.45411C18.8206 4.12923 19.1999 5.04489 19.1999 5.99965V14.3997Z' fill='%23FDB52A'/%3E%3C/svg%3E");
         background-repeat: no-repeat;
         background-size: contain;
         background-position: center;
         position: absolute;
         left: 24px;

         @include xs {
            display: none;
         }
      }

      &:after {
         content: "";
         display: inline-block;
         width: 17px;
         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 10'%3E%3Cpath d='M8.59964 9.5C8.41364 9.5 8.22746 9.42669 8.08546 9.28025L0.812745 1.78029C0.528564 1.48723 0.528564 1.01267 0.812745 0.719796C1.09693 0.426922 1.55711 0.426735 1.84111 0.719796L8.59964 7.68951L15.3582 0.719796C15.6424 0.426735 16.1025 0.426735 16.3865 0.719796C16.6705 1.01286 16.6707 1.48742 16.3865 1.78029L9.11382 9.28025C8.97182 9.42669 8.78564 9.5 8.59964 9.5Z' fill='black'/%3E%3C/svg%3E");
         background-repeat: no-repeat;
         background-position: center;
         background-size: contain;
         position: absolute;
         right: 24px;
         transition: 0.3s ease-in-out;
      }

      &:focus {
         outline: none;
         box-shadow: none;
      }

      &:not(.collapsed) {
         &:after {
            transform: rotate(180deg);
         }
      }
   }

   .accordion-collapse {
      border: none;
   }

   .accordion-body {
      border: none;
      padding: 12px 0 10px;
      margin: 0 30px;
   }

   .faq-text {
      margin-bottom: -0.48em;
      font-size: 16px;
      color: $black-color3;
   }
}

@include xs {
   .accordion-card {
      padding-bottom: 6px;

      .accordion-button {
         font-size: 16px;
         padding: 20px 55px 12px 20px;

         &:after {
            right: 20px;
         }
      }

      .accordion-body {
         padding: 0px 0 20px;
         margin: 0 20px;
      }

      .faq-text {
         font-size: 14px;
      }
   }
}


/* Faq 2 ---------------------------------- */
.cta-faq-sec {
   @include ml {
      margin-top: 120px;
      background: linear-gradient(180deg, #0052DA 19.59%, rgba(2, 30, 77, 0.00) 100%), rgba(14, 38, 77, 0.87);
   }

   @include md {
      margin-top: 80px;
   }
}

.faq-area-2 {}

.faq-bg-shape3-1 {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 320px;
   z-index: -11;
   background: #A9CAED;

   @include ml {
      display: none;
   }

}

.faq-bg-shape3-2 {
   position: absolute;
   left: 0;
   top: 92px;
   width: 100%;
   height: 100%;
   z-index: -1;

   @include ml {
      display: none;
   }

   &::before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: linear-gradient(180deg, #0052DA 19.59%, rgba(2, 30, 77, 0.00) 100%), rgba(14, 38, 77, 0.87);
   }

   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}

.faq-img3-1 {
   z-index: 1;
}

.faq-img-box2 {
   .img1 {
      border-radius: 8px;
      overflow: hidden;

      img {
         height: 100%;
         width: 100%;
         object-fit: cover;
      }
   }
}

.accordion-card.style2 {
   border-radius: 15px;
   border: 1px solid rgba(255, 255, 255, 0.15);
   background: rgba(255, 255, 255, 0.10);
   backdrop-filter: blur(50px);

   .accordion-button {
      color: $white-color;
      transition: inherit;
      font-size: 18px;
      font-weight: 600;
      padding: 22px 55px 9px 30px;

      &::before {
         content: "";
         display: inline-block;
         width: 30px;
         height: 30px;
         border-radius: 100px;
         background-color: $white-color;
         background-image: none;
         left: auto;
         right: 24px;
      }

      &:after {
         color: $title-color;
         right: 31px;
      }

      &:not(.collapsed) {
         color: $white-color;

         &:after {
            color: $white-color;
         }

         &::before {
            right: 25px;
         }
      }
   }

   &:has(.accordion-collapse.show) {
      border: 1px solid rgba(255, 255, 255, 0.15);
      background: rgba(255, 255, 255, 0.10);
      backdrop-filter: blur(50px);

      .accordion-button {
         color: $white-color;

         &:after {
            color: $white-color;
         }
      }
   }

}

/* Faq 3 ---------------------------------- */
.accordion-card.style3 {
   border: 1px solid $light-color;
   border-radius: 16px;
   background: $white-color;
   padding-bottom: 23px;

   .accordion-button {
      color: $title-color;
      padding: 37px 70px 12px 48px;

      &:after {
         color: $title-color;
         top: 11px;
         right: 48px;
      }
   }

   .faq-text {
      color: $body-color;
   }

   .accordion-body {
      margin: 0 48px;
   }

   &:has(.accordion-collapse.show) {
      background-color: $white-color;
      border: 1px solid $light-color;
      box-shadow: 0px 30px 80px rgba(19, 24, 43, 0.2);

      .accordion-button {
         color: $title-color;
      }
   }

   &:has(.accordion-button.collapsed) {
      background-color: $white-color;
      border: 1px solid $light-color;
   }

   @include lg {
      padding-bottom: 13px;

      .accordion-button {
         padding: 27px 55px 12px 30px;
         font-size: 20px;

         &:after {
            right: 30px;
         }
      }

      .accordion-body {
         margin: 0 30px;
      }
   }

   @include md {
      border-radius: 8px;
   }
}

/* Faq 4 ---------------------------------- */
.accordion-card.style4 {

   .accordion-button {
      &::before {
         background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='24' viewBox='0 0 22 24' fill='none'%3E%3Cpath d='M15.599 1.19995H5.99937C4.72629 1.19995 3.50536 1.70568 2.60515 2.60588C1.70495 3.50609 1.19922 4.72703 1.19922 6.00011V22.7996L2.69103 21.3078C4.04119 19.958 5.87218 19.1997 7.78134 19.1996H15.599C16.2293 19.1996 16.8535 19.0755 17.4359 18.8342C18.0183 18.593 18.5475 18.2394 18.9932 17.7937C19.4389 17.348 19.7925 16.8188 20.0337 16.2364C20.275 15.654 20.3991 15.0298 20.3991 14.3995V6.00011C20.3991 4.72703 19.8934 3.50609 18.9932 2.60588C18.093 1.70568 16.872 1.19995 15.599 1.19995Z' fill='white'/%3E%3Cpath d='M19.9671 16.3676C19.59 17.2109 18.9769 17.927 18.2018 18.4296C17.4267 18.9322 16.5227 19.1998 15.599 19.2H7.78566C5.87348 19.2001 4.03962 19.9597 2.68743 21.3117L1.19922 22.8V5.99977C1.19945 5.07617 1.46694 4.17237 1.9694 3.39741C2.47186 2.62245 3.18783 2.00943 4.03093 1.63232C3.74716 2.24955 3.59981 2.92071 3.59894 3.60005V16.3345C3.59872 16.5247 3.64376 16.7123 3.73035 16.8817C3.81693 17.0511 3.94257 17.1975 4.09688 17.3088C4.2512 17.42 4.42978 17.493 4.61786 17.5217C4.80595 17.5503 4.99814 17.5338 5.17859 17.4735C6.51691 17.027 7.91847 16.7992 9.32932 16.7989H17.9987C18.6784 16.7989 19.3494 16.652 19.9671 16.3676Z' fill='white'/%3E%3Cpath d='M10.7992 3.6001C9.84439 3.6001 8.92873 3.97938 8.25362 4.65449C7.5785 5.32961 7.19922 6.24527 7.19922 7.20003C7.19922 7.51826 7.32563 7.82345 7.55065 8.04846C7.77567 8.27348 8.08086 8.39989 8.39908 8.39989C8.7173 8.39989 9.02249 8.27348 9.24751 8.04846C9.47252 7.82345 9.59894 7.51826 9.59894 7.20003C9.5992 6.99494 9.65201 6.79333 9.75234 6.61445C9.85267 6.43557 9.99717 6.28538 10.172 6.17822C10.3469 6.07105 10.5463 6.01049 10.7513 6.00231C10.9562 5.99413 11.1598 6.0386 11.3427 6.13147C11.5255 6.22435 11.6815 6.36254 11.7958 6.53285C11.9101 6.70317 11.9788 6.89992 11.9954 7.10435C12.012 7.30877 11.976 7.51404 11.8907 7.70057C11.8055 7.8871 11.6738 8.04867 11.5083 8.16986C10.9345 8.56258 10.4622 9.08597 10.1302 9.69694C9.79828 10.3079 9.61618 10.989 9.59894 11.6841V12.0002C9.59894 12.3185 9.72539 12.6238 9.95047 12.8489C10.1756 13.074 10.4808 13.2004 10.7992 13.2004C11.1175 13.2004 11.4228 13.074 11.6478 12.8489C11.8729 12.6238 11.9994 12.3185 11.9994 12.0002V11.6841C12.0212 11.3669 12.1163 11.0591 12.2772 10.7849C12.4381 10.5107 12.6605 10.2775 12.9267 10.1037C13.5389 9.65513 13.9936 9.02453 14.2259 8.30202C14.4582 7.57952 14.4563 6.80207 14.2203 6.08074C13.9843 5.35942 13.5264 4.73112 12.912 4.28561C12.2976 3.8401 11.5581 3.60017 10.7992 3.6001ZM10.7992 16.8003C10.9592 16.8043 11.1184 16.7761 11.2674 16.7176C11.4164 16.6591 11.5522 16.5713 11.6668 16.4595C11.7814 16.3477 11.8724 16.2141 11.9346 16.0666C11.9967 15.919 12.0288 15.7606 12.0288 15.6005C12.0288 15.4404 11.9967 15.2819 11.9346 15.1344C11.8724 14.9869 11.7814 14.8533 11.6668 14.7415C11.5522 14.6297 11.4164 14.5419 11.2674 14.4834C11.1184 14.4248 10.9592 14.3967 10.7992 14.4006C10.486 14.4083 10.1883 14.5381 9.96954 14.7623C9.75078 14.9864 9.62833 15.2873 9.62833 15.6005C9.62833 15.9137 9.75078 16.2145 9.96954 16.4387C10.1883 16.6629 10.486 16.7927 10.7992 16.8003Z' fill='%230052DA'/%3E%3Cpath d='M15.6 0H5.99965C4.40903 0.0019054 2.8841 0.634622 1.75936 1.75936C0.634622 2.8841 0.00190558 4.40903 1.83472e-07 5.99965V22.7998C-0.000131079 23.0372 0.0701728 23.2693 0.202012 23.4667C0.33385 23.6641 0.521295 23.8179 0.740616 23.9088C0.959937 23.9996 1.20127 24.0233 1.43407 23.9768C1.66686 23.9304 1.88065 23.816 2.04836 23.648L3.53874 22.1576C4.09458 21.5986 4.75578 21.1553 5.48407 20.8535C6.21236 20.5517 6.99328 20.3974 7.78162 20.3994H15.6C17.1906 20.3975 18.7155 19.7648 19.8403 18.64C20.965 17.5153 21.5977 15.9904 21.5996 14.3997V5.99965C21.5977 4.40903 20.965 2.8841 19.8403 1.75936C18.7155 0.634622 17.1906 0.0019054 15.6 0ZM19.1999 14.3997C19.1999 15.3545 18.8206 16.2702 18.1455 16.9453C17.4704 17.6204 16.5547 17.9997 15.6 17.9997H7.78162C5.81384 17.9945 3.90757 18.6851 2.39972 19.9494V5.99965C2.39972 5.04489 2.779 4.12923 3.45412 3.45411C4.12923 2.779 5.04489 2.39972 5.99965 2.39972H15.6C16.5547 2.39972 17.4704 2.779 18.1455 3.45411C18.8206 4.12923 19.1999 5.04489 19.1999 5.99965V14.3997Z' fill='%230052DA'/%3E%3C/svg%3E");
      }
   }
}


.accordion-card.style5 {
   background: $gray-color;
}