/* Marquee Area ---------------------------------- */
.marquee-slider1 {
   margin: 0 -50px 0px;

   .swiper-wrapper {
      transition-timing-function: linear;
   }

   .swiper-slide {
      width: auto;
   }
}

.marquee-card {
   margin-bottom: 0;
   padding: 0;
   display: inline-flex;
   align-items: center;
   position: relative;

   a {
      font-family: $title-font;
      display: inline-block;
      margin-left: 30px;
      padding-bottom: 10px;
      position: relative;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $title-color;
      font-size: 84px;
      font-weight: 500;
      color: transparent;
      line-height: 94px;
      transition: all 0.3s ease-in-out;

      &::before {
         overflow: hidden;
         position: absolute;
         top: 0;
         left: 0;
         width: 0;
         color: $white-color;
         white-space: nowrap;
         content: attr(data-hover);
         transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
      }



      &:hover {
         color: $title-color;
         -webkit-text-stroke-color: $title-color;

         &::before {
            width: 100%;
            color: $title-color;
         }
      }
   }

   @include lg {
      a {
         font-size: 50px;
         line-height: 64px;
      }
   }

   @include sm {
      .marquee-icon {
         width: 24px;
         margin-top: -10px;
      }

      a {
         font-size: 40px;
         line-height: 54px;
      }
   }

   @include xs {
      a {
         font-size: 30px;
         line-height: 44px;
      }
   }
}

/* Marquee Area 2---------------------------------- */
.marquee-wrap2 {
   position: relative;
   z-index: 1;
   margin-bottom: 50px;
}

.marquee-slider2 {
   margin: 0 -50px 0px;

   .swiper-wrapper {
      transition-timing-function: linear;
   }

   .swiper-slide {
      width: auto;
   }
}

.marquee-card.style2 {
   margin-bottom: -0.1em;
   display: flex;

   a {
      font-size: 56px;
      font-weight: 700;
      line-height: 66px;
      letter-spacing: -1.12px;
      font-family: $title-font;

      &:hover {
         color: $theme-color2;
         -webkit-text-stroke-color: $theme-color2;

         &::before {
            color: $theme-color2;
         }
      }

      @include xs {
         font-size: 35px;
      }

   }
}

/* Marquee Area 3---------------------------------- */
.marquee-wrap3 {
   rotate: -6deg;
   margin: -100px -20px 100px;

   @include hd {
      margin: -130px -20px 130px;
   }

   @include xxl {
      margin: -78px -20px 78px;
   }

   @include xl {
      margin: -65px -20px 65px;
   }

   @include lg {
      margin: 0 -10px 55px;
   }

   @include md {
      margin: 0 -10px 40px;
   }

   @include md {
      margin: 0 -10px 30px;
   }

   @include xs {
      margin: 0 -10px 22px;
   }
}