.wp-block-query-pagination-numbers,
.th-pagination {
   margin-bottom: 30px;
   padding-top: 20px;

   &.style2 {
      margin-top: 50px;
      margin-bottom: 0;
      text-align: center;

      a img {
         @include sm {
            width: 15px;
         }
      }
   }

   ul {
      margin: 0;
      padding: 0;
   }

   li {
      display: inline-block;
      margin: 0 3px;
      list-style-type: none;

      &:last-child {
         margin-right: 0;
      }

      &:first-child {
         margin-left: 0;
      }
   }

   .arrow {
      &.left {
         transform: rotate(180deg);
      }
   }

   span,
   a {
      display: inline-block;
      text-align: center;
      position: relative;
      border: none;
      color: $black-color2;
      background-color: $smoke-color;
      width: 56px;
      height: 56px;
      line-height: 56px;
      z-index: 1;
      font-size: 16px;
      font-weight: 500;
      border-radius: 50%;


      img {
         filter: brightness(0) invert(0);
         transition: filter 0.3s ease;
      }

      &.active,
      &:hover {
         color: $white-color;
         background-color: $theme-color;

         i {
            color: inherit;
         }

         img {
            filter: brightness(0) invert(1);
         }
      }
   }
}

.wp-block-query-pagination-next {
   display: inline-block;
   text-align: center;
   position: relative;
   border: none;
   color: $title-color;
   background-color: $smoke-color2;
   min-width: 56px;
   height: 56px;
   line-height: 56px;
   z-index: 1;
   font-size: 16px;
   padding: 0 20px;
   font-weight: 500;
   border-radius: 12px;
   transition: 0.4s ease-in-out;

   &.active,
   &:hover {
      color: $white-color;
      background-color: $theme-color;
      border-color: $theme-color;
   }
}

@include sm {

   .wp-block-query-pagination-numbers,
   .th-pagination {

      span,
      a {
         width: 40px;
         height: 40px;
         line-height: 40px;
         font-size: 14px;
      }
   }
}