/* Pricing Card ---------------------------------- */
.price-bg-shape1-1 {
   transform: translate(-50%, 0);

   @include md {
      display: none;
   }
}

.price-bg-shape1-2 {
   opacity: 0.06;
   transform: translate(-50%, 0);
}

.price-wrap1 {}

.price-card {
   position: relative;
   z-index: 1;
   overflow: hidden;
   padding-top: 40px;


   &::after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 40px;
      background: $gray-color;
      content: '';
      border-radius: 24px;
      border-bottom-right-radius: 0;
   }

   &.active {
      .th-btn.style4 {
         color: $white-color;

         &:before {
            border: 1px solid $theme-color;
            background: $theme-color;
         }

         .after-bg {
            background: $theme-color2;
         }
      }
   }

   .box-top {
      display: flex;
      flex-direction: row-reverse;
      background: $gray-color;
      border-radius: 24px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;


   }

   .box-content {
      display: flex;
      flex-direction: column;
      width: 150px;
      padding-right: 0px;

      @include lg {
         width: 50%;
      }

      @include sm {
         width: 100%;
      }
   }

   .box-image {
      border-radius: 24px;
      background: $white-color;
      padding: 10px;
      margin-right: 20px;
      width: calc(100% - 172px);
      padding-left: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;

      @include lg {
         width: 50%;

      }

      @include sm {
         width: calc(100% - 100px);
         margin-right: 10px;
         border-radius: 10px;
         padding: 5px;
         border-bottom-left-radius: 0;
         border-top-left-radius: 0;
      }

      img {
         border-radius: 14px;
      }
   }

   .box-title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 15px;

      @include ml {
         padding-right: 50px;
      }
   }

   .box-subtitle {
      margin-top: 4px;
      margin-bottom: -0.5em;
      padding: 0px 14px;
      background: $theme-color;
      border-radius: 30px;
      color: $white-color;
      width: 99px;
      text-align: center;
   }

   .price-card_price {
      font-size: 45px;
      font-weight: 700;
      font-family: $title-font;
      margin-bottom: 0;
      color: $title-color;
      margin-top: -0.25em;

      .duration {
         font-size: 18px;
         font-weight: 500;
         font-family: $title-font;
         margin-left: 5px;
         color: $black-color3;
      }
   }

   .box-text {
      margin-top: 15px;
      margin-bottom: 22px;
      font-size: 16px;
   }

   .price_card-wrap {
      border-radius: 24px;
      background: $gray-color;
      padding: 40px;
      border-top-right-radius: 0;

      @include sm {
         padding: 20px;
      }
   }

   .checklist {
      display: inline-block;
      margin-top: 27px;

      li {
         color: $black-color3;
         align-items: start;
         font-size: 16px;
         font-weight: 500;

         &:not(:last-child) {
            margin-bottom: 19px;
         }

         i {
            transition: 0.4s;
            color: $theme-color;
            top: 3px;
         }

         &:before {
            // display: none;
         }

         img {
            display: none;
         }

         &.unavailable {
            i {
               color: $light-color;
               opacity: 0.5;
            }
         }
      }

      &.text-gray3 {
         li {
            color: $gray-color3;
         }
      }
   }

   .btn-wrap {
      margin-top: 27px;
   }

   @include ml {


      .box-title {
         font-size: 24px;
      }

      .price-card_price {
         font-size: 36px;
      }

      .box-text {
         font-size: 14px;
      }
   }

   @include sm {
      .box-title {
         font-size: 20px;
         margin-bottom: 8px;
      }
   }

   @include vxs {
      .price-card_price {
         font-size: 24px;
      }
   }
}

/* Pricing Card 2---------------------------------- */
.price-card.style2 {
   background: $black-color7;
   position: relative;
   box-shadow: none;
   z-index: 1;
   border-radius: 16px;
   padding: 0;

   &::after {
      display: none;
   }

   .box-top {
      border-radius: 0px;
      display: block;
      position: relative;
      z-index: 1;

      &::after {
         position: absolute;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         content: '';
         z-index: -1;
         background: linear-gradient(0deg, rgba(23, 25, 31, 0.70) 0%, rgba(23, 25, 31, 0.70) 100%);
      }
   }

   .box-content {
      width: 100%;
      padding: 40px;

      @include ml {
         padding: 20px;
      }
   }

   .pricing-tab {
      display: inline-flex;
      border: 1px solid $border-color;
      border-radius: 30px;

      .nav-item {
         .nav-link {
            background: transparent;
            border: 0;
            font-size: 12px;
            font-weight: 500;
            font-family: $title-font;
            letter-spacing: 0.02em;
            position: relative;
            padding: 4px 12px;

            &:after {
               content: '';
               position: absolute;
               inset: 2px;
               background: linear-gradient(to left, $theme-color3, $theme-color);
               border-radius: 30px;
               z-index: -1;
               transition: 0.4s;
               opacity: 0;
            }

            &.active {
               color: $white-color;

               &:after {
                  opacity: 1;
               }
            }
         }
      }
   }

   .box-icon {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: self-start;
      flex-wrap: wrap;
      gap: 20px;

      img {
         filter: grayscale(9);
         opacity: 0.2;
         transition: 0.4s;
      }
   }

   .box-title {
      font-size: 32px;

      @include ml {
         font-size: 24px;
         padding-right: 0;
      }
   }

   .box-subtitle {
      font-size: 14px;
      font-weight: 400;
      padding: 0;
      background: transparent;
      width: 100%;
      text-align: left;
   }

   .box-text {
      margin-top: 9px;
      margin-bottom: 20px;
   }

   .price-card_price {
      font-size: 48px;
      font-weight: 700;
      color: $theme-color2;
      padding: 40px;
      background: $black-color6;
      position: relative;
      overflow: hidden;

      @include ml {
         padding: 20px;
      }

      &::before {
         position: absolute;
         right: 0;
         content: '';
         top: 0;
         background-image: url(../img/shape/bg-shape8.png);
         background-size: 100% 100%;
         width: 100%;
         height: 100%;
      }

      .duration {
         font-size: 18px;
         font-weight: 500;
         font-family: $title-font;
         color: $theme-color2;
      }


   }

   .activesubtitle {
      border-radius: 16px 0px 0px 0px;
      background: $theme-color2;
      position: absolute;
      right: 0;
      bottom: 0;
      color: $black-color;
      font-size: 18px;
      font-weight: 400;
      padding: 8px 24px;
      opacity: 0;
      visibility: hidden;
   }

   &.active {
      .activesubtitle {
         opacity: 1;
         visibility: visible;
      }
   }

   .price_card-wrap {
      border-radius: 0;
      background: transparent;

      @include ml {
         padding: 20px;
      }
   }

   .checklist {
      margin: 0;

      li {
         font-family: $body-font;
         font-weight: 400;
         color: $black-color6;
         padding-left: 0;
         gap: 16px;

         &::before {
            position: relative;
            background: none;
            background-image: url(../img/icon/check-icon1-4.svg);
            background-size: 100% 100%;
            width: 16px;
            height: 16px;
            left: 0;
            clip-path: none;

         }

         &:not(:last-child) {
            margin-bottom: 20px;
         }

         i {
            &:before {
               color: transparent;
               background: linear-gradient(to left, $theme-color3, $theme-color);
               -webkit-background-clip: text;
            }
         }
      }
   }

   .btn-wrap {
      margin-top: 37px;
   }

   &:hover,
   &.active {
      .box-icon {
         img {
            opacity: 1;
            filter: none;
         }
      }
   }

   @include ml {
      .price-card_price {
         font-size: 36px;
      }
   }


}


// price-card 3
.price-card.style3 {
   padding: 10px;
   background: $theme-color;
   border-radius: 20px;
   overflow: visible;

   &::after {
      display: none;
   }

   &.active {
      background: $theme-color2;

      .price-card_price {
         color: $title-color;
      }

      .box-title {
         color: $title-color;
      }
   }


   .box-content {
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.19);
      background: rgba(255, 255, 255, 0.13);
      backdrop-filter: blur(50px);
      text-align: center;
      width: 100%;
      padding: 60px 20px 100px;
      gap: 20px;
      position: relative;
      z-index: -11;
   }

   .price-card_price {
      color: $white-color;
      font-size: 36px;
      font-weight: 700;
      line-height: 32px;
   }

   .box-title {
      color: $white-color;
      display: block;
      margin-bottom: 0;
      font-size: 16px;
      padding-right: 0;
   }


   .checklist {
      border-radius: 20px;
      border: 4px solid $white-color;
      background: $theme-color3;
      box-shadow: 0px 4px 42px 0px rgba(0, 0, 0, 0.25);
      padding: 30px 25px 50px 38px;
      margin-top: 0;
      margin: -50px -14px;
      margin-bottom: -45px;
      position: relative;
      transform: rotate(-13deg);
      z-index: -1;
      transition: 0.4s ease-in-out;

      @include xxl {
         transform: rotate(0deg);
         margin: -50px 0px;
         margin-bottom: -45px;
         width: 100%;
      }

      @include xs {
         padding: 30px 20px;
      }

      li {
         color: $white-color;
         font-family: $body-font;
         font-size: 16px;
         font-weight: 500;
         gap: 10px;
         margin-bottom: 10px;
         padding-left: 20px;

         @include sm {
            font-size: 13px;
         }

         &::before {
            clip-path: none;
            content: "\f336";
            font-family: Font Awesome\ 6 Pro;
            background: transparent;
         }

         i {
            color: $white-color;
            display: none;
         }
      }
   }

   .th-btn {
      display: block;
      background: $white-color;
      text-align: center;
      border-radius: 30px;
      color: $theme-color3;
      width: 100%;
      text-transform: uppercase;

      &:hover {
         background: $black-color;
         color: $white-color;
      }
   }

   &:hover {
      .checklist {
         transform: rotate(0deg);
      }
   }
}

// price-card 4
.price-card.style4 {

   .price-card_price {
      background: $theme-color;
   }

   .price-card_price {
      color: $white-color;

      .duration {
         color: $white-color;
      }
   }

   .box-title {
      @include ml {
         padding-right: 0px;
      }
   }

   .activesubtitle {
      background: $white-color;
   }

   .price_card-wrap {
      background: $gray-color;
   }

   .th-btn {
      padding: 20px 26px;
   }

}